<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="hu.bme.mit.gamma.wrapper.runtime.application"
         name="Wrapper Extension"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="hu.bme.ftsrg.gamma.headless.wrapper.Application">
         </run>
      </application>
   </extension>
   <extension
         id="hu.bme.mit.gamma.wrapper"
         name="Wrapper"
         point="org.eclipse.core.runtime.products">
      <product
            application="hu.bme.mit.gamma.wrapper.runtime.application"
            name="name">
         <property
               name="hu.bme.ftsrg.gamma.headless.wrapper.property"
               value="hu.bme.ftsrg.gamma.headless.wrapper.property">
         </property>
      </product>
   </extension>

</plugin>
